/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

.one{
    display: flex;
    align-content: end;
    flex-direction: column;
    justify-content: flex-end;
}

.twoA{
    display: flex;
    align-content: end;
    flex-direction: row;
    justify-content: flex-end;
}
 
.three ul{
    list-style-type: none;
}

.flex-item{
    display: inline;
    padding-right: 10% ;
}

.four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.five{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 1200px) {
    .five{
        display: flex;
        flex-direction: row;
        flex-shrink: 2;
    }
}
